/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?18741376#fontello') format('svg');
  }
}
*/
 
 [class^="iconf-"]:before, [class*=" iconf-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.iconf-down-open:before { content: '\e830'; } /* 'î °' */
.iconf-wallet:before { content: '\e82f'; } /* 'î ¯' */
.iconf-right-open:before { content: '\e833'; } /* 'î ³' */
.iconf-up-open:before { content: '\e831'; } /* 'î ±' */
.iconf-angle-left:before { content: '\e834'; } /* 'î ´' */
.iconf-angle-right:before { content: '\e835'; } /* 'î µ' */
.iconf-angle-up:before { content: '\e836'; } /* 'î ¶' */
.iconf-angle-down:before { content: '\e837'; } /* 'î ·' */
.iconf-flight:before { content: '\e861'; } /* 'î¡¡' */
.iconf-suitcase:before { content: '\e85f'; } /* 'î¡Ÿ' */
.iconf-road:before { content: '\e860'; } /* 'î¡ ' */
.iconf-euro:before { content: '\e853'; } /* 'î¡“' */
.iconf-pound:before { content: '\e852'; } /* 'î¡’' */
.iconf-dollar:before { content: '\e851'; } /* 'î¡‘' */
.iconf-rupee:before { content: '\e854'; } /* 'î¡”' */
.iconf-yen:before { content: '\e855'; } /* 'î¡•' */
.iconf-rouble:before { content: '\e856'; } /* 'î¡–' */
.iconf-try:before { content: '\e857'; } /* 'î¡—' */
.iconf-won:before { content: '\e858'; } /* 'î¡˜' */
.iconf-bitcoin:before { content: '\e850'; } /* 'î¡' */
.iconf-user:before { content: '\e864'; } /* 'î¡¤' */
.iconf-users:before { content: '\e863'; } /* 'î¡£' */
.iconf-movie-frame:before { content: '\e866'; } /* 'î¡¦' */
.iconf-videocam:before { content: '\e865'; } /* 'î¡¥' */
.iconf-ok:before { content: '\e872'; } /* 'î¡²' */
.iconf-cancel:before { content: '\e873'; } /* 'î¡³' */
.iconf-link:before { content: '\e867'; } /* 'î¡§' */
.iconf-attachment:before { content: '\e868'; } /* 'î¡¨' */
.iconf-pencil2:before { content: '\e87e'; } /* 'î¡¾' */
.iconf-pen:before { content: '\e87f'; } /* 'î¡¿' */
.iconf-dialogue-box:before { content: '\e874'; } /* 'î¡´' */
.iconf-chat-alt:before { content: '\e87d'; } /* 'î¡½' */
.iconf-bell:before { content: '\e875'; } /* 'î¡µ' */
.iconf-address:before { content: '\e880'; } /* 'î¢€' */
.iconf-location:before { content: '\e85e'; } /* 'î¡ž' */
.iconf-map:before { content: '\e869'; } /* 'î¡©' */
.iconf-calendar-simple:before { content: '\e862'; } /* 'î¡¢' */
.iconf-microphone:before { content: '\e85a'; } /* 'î¡š' */
.iconf-clock:before { content: '\e86c'; } /* 'î¡¬' */
.iconf-wristwatch:before { content: '\e86d'; } /* 'î¡­' */
.iconf-stopwatch:before { content: '\e85b'; } /* 'î¡›' */
.iconf-bulb:before { content: '\e85d'; } /* 'î¡' */
.iconf-large-monitor:before { content: '\e879'; } /* 'î¡¹' */
.iconf-laptop:before { content: '\e87a'; } /* 'î¡º' */
.iconf-tablet:before { content: '\e87b'; } /* 'î¡»' */
.iconf-handy:before { content: '\e87c'; } /* 'î¡¼' */
.iconf-globe:before { content: '\e86b'; } /* 'î¡«' */
.iconf-sun:before { content: '\e870'; } /* 'î¡°' */
.iconf-moon:before { content: '\e871'; } /* 'î¡±' */
.iconf-plane:before { content: '\e86e'; } /* 'î¡®' */
.iconf-lifebuoy:before { content: '\e86f'; } /* 'î¡¯' */
.iconf-register-key:before { content: '\e86a'; } /* 'î¡ª' */
.iconf-wine:before { content: '\e876'; } /* 'î¡¶' */
.iconf-coffee:before { content: '\e877'; } /* 'î¡·' */
.iconf-beer:before { content: '\e878'; } /* 'î¡¸' */
.iconf-delicious:before { content: '\e846'; } /* 'î¡†' */
.iconf-paypal:before { content: '\e859'; } /* 'î¡™' */
.iconf-eventful:before { content: '\e849'; } /* 'î¡‰' */
.iconf-gplus:before { content: '\e83c'; } /* 'î ¼' */
.iconf-wikipedia:before { content: '\e84d'; } /* 'î¡' */
.iconf-lanyrd:before { content: '\e84a'; } /* 'î¡Š' */
.iconf-pinterest:before { content: '\e841'; } /* 'î¡' */
.iconf-digg:before { content: '\e844'; } /* 'î¡„' */
.iconf-dribbble:before { content: '\e84c'; } /* 'î¡Œ' */
.iconf-flickr:before { content: '\e83f'; } /* 'î ¿' */
.iconf-google:before { content: '\e83d'; } /* 'î ½' */
.iconf-left-open:before { content: '\e832'; } /* 'î ²' */
.iconf-meetup:before { content: '\e84b'; } /* 'î¡‹' */
.iconf-rss:before { content: '\e840'; } /* 'î¡€' */
.iconf-skype:before { content: '\e847'; } /* 'î¡‡' */
.iconf-twitter:before { content: '\e839'; } /* 'î ¹' */
.iconf-youtube:before { content: '\e83b'; } /* 'î »' */
.iconf-vimeo:before { content: '\e83a'; } /* 'î º' */
.iconf-yahoo:before { content: '\e83e'; } /* 'î ¾' */
.iconf-facebook:before { content: '\e838'; } /* 'î ¸' */
.iconf-lastfm:before { content: '\e842'; } /* 'î¡‚' */
.iconf-tumblr:before { content: '\e843'; } /* 'î¡ƒ' */
.iconf-wordpress:before { content: '\e84e'; } /* 'î¡Ž' */
.iconf-eventbrite:before { content: '\e848'; } /* 'î¡ˆ' */
.iconf-acrobat:before { content: '\e84f'; } /* 'î¡' */
.iconf-email:before { content: '\e884'; } /* 'î¢„' */
.iconf-like:before { content: '\e883'; } /* 'î¢ƒ' */
.iconf-map-pointer:before { content: '\e85c'; } /* 'î¡œ' */
.iconf-phone:before { content: '\e881'; } /* 'î¢' */
.iconf-monitor:before { content: '\e882'; } /* 'î¢‚' */
.iconf-music:before { content: '\e800'; } /* 'î €' */
.iconf-search:before { content: '\e801'; } /* 'î ' */
.iconf-mail:before { content: '\e802'; } /* 'î ‚' */
.iconf-heart:before { content: '\e803'; } /* 'î ƒ' */
.iconf-star:before { content: '\e804'; } /* 'î „' */
.iconf-guy:before { content: '\e805'; } /* 'î …' */
.iconf-video:before { content: '\e806'; } /* 'î †' */
.iconf-camera:before { content: '\e807'; } /* 'î ‡' */
.iconf-photo:before { content: '\e808'; } /* 'î ˆ' */
.iconf-attach:before { content: '\e809'; } /* 'î ‰' */
.iconf-lock:before { content: '\e80a'; } /* 'î Š' */
.iconf-eye:before { content: '\e80b'; } /* 'î ‹' */
.iconf-tag:before { content: '\e80c'; } /* 'î Œ' */
.iconf-thumbs-up:before { content: '\e80d'; } /* 'î ' */
.iconf-pencil:before { content: '\e80e'; } /* 'î Ž' */
.iconf-comment:before { content: '\e80f'; } /* 'î ' */
.iconf-map-location:before { content: '\e810'; } /* 'î ' */
.iconf-cup:before { content: '\e811'; } /* 'î ‘' */
.iconf-trash:before { content: '\e812'; } /* 'î ’' */
.iconf-note:before { content: '\e814'; } /* 'î ”' */
.iconf-cog:before { content: '\e815'; } /* 'î •' */
.iconf-params:before { content: '\e816'; } /* 'î –' */
.iconf-calendar:before { content: '\e817'; } /* 'î —' */
.iconf-sound:before { content: '\e818'; } /* 'î ˜' */
.iconf-wirst-watch:before { content: '\e819'; } /* 'î ™' */
.iconf-lightbulb:before { content: '\e81a'; } /* 'î š' */
.iconf-tv:before { content: '\e81b'; } /* 'î ›' */
.iconf-desktop:before { content: '\e81c'; } /* 'î œ' */
.iconf-mobile:before { content: '\e81d'; } /* 'î ' */
.iconf-cd:before { content: '\e81e'; } /* 'î ž' */
.iconf-inbox:before { content: '\e81f'; } /* 'î Ÿ' */
.iconf-world:before { content: '\e820'; } /* 'î  ' */
.iconf-cloud:before { content: '\e821'; } /* 'î ¡' */
.iconf-paper-plane:before { content: '\e822'; } /* 'î ¢' */
.iconf-fire:before { content: '\e823'; } /* 'î £' */
.iconf-graduation-cap:before { content: '\e824'; } /* 'î ¤' */
.iconf-megaphone:before { content: '\e825'; } /* 'î ¥' */
.iconf-database:before { content: '\e826'; } /* 'î ¦' */
.iconf-key:before { content: '\e827'; } /* 'î §' */
.iconf-beaker:before { content: '\e828'; } /* 'î ¨' */
.iconf-truck:before { content: '\e829'; } /* 'î ©' */
.iconf-money:before { content: '\e82a'; } /* 'î ª' */
.iconf-food:before { content: '\e82b'; } /* 'î «' */
.iconf-shop:before { content: '\e82c'; } /* 'î ¬' */
.iconf-diamond:before { content: '\e82d'; } /* 'î ­' */
.iconf-t-shirt:before { content: '\e82e'; } /* 'î ®' */
.iconf-linkedin:before { content: '\e845'; } /* 'î¡…' */