/*
 *= require "_bootstrap.min.css"
 *= require "_bootstrap-responsive.min.css"
 *= require "_style.min.css"
 *= require "_fonts.css"
 *= require "_font-awesome.min.css"
 *= require "_jquery.countdown.css"
 *= require "_flexslider.css"
 */

.timeline-icon-container {
  text-align: center;
}

.timeline-icon-container i {
  padding-top: 2px;
  padding-left: 0px;
}

.sponsors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sponsor {
  margin: 25px 50px 25px 50px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.sponsor img {
  -webkit-transition-duration: .4s;
  -moz-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
  background-color: #E7EBED;
}

#gold .sponsor img {
  max-width: 350px;
}

#silver .sponsor img {
  max-width: 250px;
}

#bronze .sponsor img {
  max-width: 150px;
}

.event-title img {
  margin-top: 0.5em;
  max-width:7.5em;
}
