/*
 *= require "_bootstrap.min.css"
 *= require "_bootstrap-responsive.min.css"
 *= require "_style.min.css"
 *= require "_fonts.css"
 *= require "_font-awesome.min.css"
 *= require "_jquery.countdown.css"
 *= require "_flexslider.css"
 */

.timeline-icon-container {
  text-align: center;
}

.timeline-icon-container i {
  padding-top: 2px;
  padding-left: 0px;
}

.sponsors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sponsor {
  margin: 25px 50px 25px 50px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.sponsor img {
  -webkit-transition-duration: .4s;
  -moz-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
  background-color: #E7EBED;
}

#gold .sponsor img {
  max-width: 250px;
}

#gold .sponsor_sm img {
  max-width: 200px;
  padding: 0 50px;
}

#silver .sponsor img {
  max-width: 200px;
}

#bronze .sponsor img {
  max-width: 150px;
}

.event-title img {
  margin-top: 0.5em;
  max-width:7.5em;
}

.sponsors-header {
  margin-bottom: 75px;
}

#gold_sponsorship, #silver_sponsorship, #bronze_sponsorship {
  display: flex;
  position: absolute;
  left: 0;
  margin-top: 25px;
}

#gold_sponsorship {
  margin-top: 50px;
}

#gold_sponsorship .title {
  background-color: #d4af37;
}

#silver, #bronze {
  margin-top: 100px;
}

#silver_sponsorship .title {
  background-color: #c0c0c0;
}

#bronze_sponsorship .title {
  background-color: #cd7f32;
}

.title h3 {
  margin: 5px 25px 5px 50px;
}

#triangle {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

#gold_sponsorship #triangle {
  border-left: 25px solid #d4af37;
}

#silver_sponsorship #triangle {
  border-left: 25px solid #c0c0c0;
}

#bronze_sponsorship #triangle {
  border-left: 25px solid #cd7f32;
}

@media (max-width: 768px) {
  .sponsors-header {
    margin-bottom: 0;
  }

  #gold_sponsorship {
    margin-top: 25px;
  }

  .title h3 {
    font-size: 20px;
    margin: 0px 15px 0px 30px;
  }

  #triangle {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }

  #gold_sponsorship #triangle {
    border-left: 20px solid #d4af37;
  }

  #silver_sponsorship #triangle {
    border-left: 20px solid #c0c0c0;
  }

  #bronze_sponsorship #triangle {
    border-left: 20px solid #cd7f32;
  }

  #gold, #silver {
    margin-top: 50px;
  }

  #bronze {
   margin-top: 70px;
 }

  #gold .sponsor img {
    max-width: 200px;
  }

  #gold .sponsor_sm img {
    max-width: 150px;
    padding: 0 0 15px 0;
  }

  #silver .sponsor img {
    max-width: 150px;
  }

  #bronze .sponsor img {
    max-width: 100px;
  }
}
