/ para incluir um partial
/ = partial 'nome_do_partial_sem_underscore'

/p parte principal da página

/p= data.dummy[:exampletext]

= partial "intro"

= partial "about"

= partial "registrations"

= partial "schedule"

/= partial "workshops"

= partial "venues"

= partial "maps"

= partial "sponsors"

= partial "submissions"

= partial "org"

= partial "contact"
